<ion-header>
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color='mango' (click)="logoutAction()">Salir</ion-button>
</ion-content>
