<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <img src="assets/images/icon.png" class="mark-img"/>
    <h2>Bienvenido a</h2>
    <h1>Mukuy</h1>
    <h3>Sistema de reportes</h3>
  </ion-slide>
  <ion-slide>
    <img src="assets/images/mark.png" class="mark-img" />
    <h2>Reportes!</h2>
    <p>Agregue sus reportes en las ubicaciones exactas.</p>
  </ion-slide>
  <ion-slide>
    <img src="assets/images/clock.png" class="mark-img" />
    <h2>24 hrs</h2>
    <p>Disponible todo el día.</p>
  </ion-slide>
</ion-slides>
