ion-slide {
  padding: 160px 20px 160px 20px;
  display: block;
  img {
    width: 100px;
  }

  h2 {
    font-size: 25px;
    font-weight: bold;
  }

  h1 {
    margin-bottom: 0;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    color: #01AEA9;
  }

  h3 {
    margin-top: 0;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
  }
}
