.logo {
  margin-top: 50px;
  h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
  }
}
.login {
  margin-top: 40px;
  span {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}
ion-button {
  text-transform: uppercase;
  margin-top: -20px;
}
