<ion-content padding='true'>
  <div class="logo center">
    <img src="assets/images/Mukuy_logo.png" class="smallLogo"/>
    <h1>Crear cuenta</h1>
  </div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input autocomplete="off" name="name" type="text" [(ngModel)]="postData.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input autocomplete="off" name="lastname" type="text" [(ngModel)]="postData.lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo electrónico</ion-label>
        <ion-input autocomplete="off" name="email" type="email" [(ngModel)]="postData.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Número de teléfono</ion-label>
        <ion-input autocomplete="off" name="username" type="text" [(ngModel)]="postData.phone_number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input autocomplete="off" name="username" type="text" [(ngModel)]="postData.username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input autocomplete="off" name="password" type="password" [(ngModel)]="postData.password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Trabajo</ion-label>
        <ion-input autocomplete="off" name="job" type="text" [(ngModel)]="postData.job"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Dependencia</ion-label>
        <ion-textarea name="dependence" [(ngModel)]="postData.dependence"></ion-textarea>
      </ion-item>
      <ion-item lines='none' class="login">
        <span>Ya tienes una cuenta? <a routerLink='/login'>Entra</a></span>
      </ion-item>
    </ion-list>
    <ion-button expand="block" share="round" color="primary" (click)="signupAction()">Registrar</ion-button>
  </form>
</ion-content>
