<ion-content padding='true'>
    <div class="logo center">
      <img src="assets/images/Mukuy_logo.png" class="smallLogo"/>
      <h1>Iniciar sesión</h1>
    </div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Correo electrónico</ion-label>
        <ion-input autocomplete="off" type="email" name="email" [(ngModel)]="postData.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input autocomplete="off" type="password" name="password" [(ngModel)]="postData.password"></ion-input>
      </ion-item>

      <ion-item lines='none' class="signup">
        <a routerLink='/signup'>Crear cuenta</a>
      </ion-item>
    </ion-list>
    <ion-button expand="block" share="round" color="primary" (click)="loginAction()">Entrar</ion-button>
  </form>
</ion-content>
