<ion-header>
  <ion-toolbar>
    <ion-title>Agregar reporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input autocomplete="off" type="text" name="title" [(ngModel)]="report.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea name="description" [(ngModel)]="report.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Imagen</ion-label>
      <ion-button (click)="takePicture()" color="primary" class="btnCamera">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
      <img *ngIf="image" [src]="image" class="image">
      <img *ngIf="!image" src="assets/images/not-image.png" class="image">
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ubicación</ion-label>
      <div #map id="map" style="width: 100%; height: 400px;"></div>
    </ion-item>
    <ion-button expand="block" share="round" style="margin-top: 20px"
                color="primary" (click)="saveReport()">Crear</ion-button>
  </form>
</ion-content>
