form {
  margin-top: 20px;
  ion-label {
    font-weight: bold;
  }
  .btnCamera {
    width: 100%;
    display: block;
    ion-icon {
      font-size: 20px;
    }
  }
  .image {
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
  }
}
