<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="feed">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Agregar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Mis reportes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
